@import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway:300,400,700";

html {
  font-family: "Open Sans", sans-serif;
}

body > section {
  position: fixed;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 3rem;
  overflow-y: auto;
}

body > section.challenges {
  left: 0;
  width: 30%;
}
body > section.content {
  left: 30%;
  width: 70%;
}

h1 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  display: block;
}

.cast > ul {
  font-size: 0;
  margin: -10px;
  padding: 0;
}

.cast li {
  font-size: 1rem;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.cast li > a {
  display: block;
  /*border: 1px solid #ddd;
	padding: 10px;*/
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.seasons li {
  display: inline-block;
}

section.challenges {
  font-size: 12px;
  background-color: #eee;
}

section.challenges h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

section.challenges ol {
  padding-left: 1rem;
}

section.challenges li {
  display: list-item;
  margin: 1em 0;
}

.see-all {
  text-decoration: none;
}

header nav ul {
  font-size: 0;
}

header nav li {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

header nav a {
  display: block;
  text-decoration: none;
}

header nav li + li {
  padding-left: 1rem;
  margin-left: 1rem;
}

p {
  margin: 0.5rem 0;
}

code {
  color: green;
}

h2 {
  margin: 2rem 0 0.5rem 0;
}

#unbreakable-kimmy-schmidt {
  margin-top: 4rem;
  padding-top: 2rem;
}

.shows > li {
  padding-top: 2rem;
}

/*------------*/




/* header nav ul li {
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 5px;
}

header nav a[href^="http"] {
	font-weight: bold;
	color: green;
}
header nav a {
	text-decoration: none;
}

header nav a:active {

}

header nav a:visited {

}

header nav a:hover {
	color: red;
}

#game-of-thrones .seasons:after {
	content: "Special text that goes after";
	font-size: 0.9rem;
	color: lightgrey;
} */
